
<!-- start contact section -->
<section class="contact pt-20 pb-12" id="contact">
    
    <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-right">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-left">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
    </div>


    <div class="container relative z-10">
        <div class="sec-header" data-aos="fade-up">
            <h2>تواصل معنا</h2>
        </div>

        <p class="text-center font-semibold text-md lg:text-lg mt-5" data-aos="fade-up">
            في حالة وجود اى استفسار او افتراحات يمكنك ترك رسالتك وسيقوم فريقنا بالتواصل معك
        </p>

        <div class="grid gap-20 md:grid-cols-2 items-center mt-10">
            
            <form action="" class="grid grid-cols-2 gap-10" data-aos="zoom-in">
                <div class="form-input col-span-2">
                    <input type="text" placeholder="الأسم">
                </div>
                <div class="form-input col-span-2">
                    <input type="email" placeholder="البريد الإلكتروني">
                </div>
                <div class="form-input col-span-2 sm:col-span-1">
                    <input type="text" placeholder="الدولة">
                </div>
                <div class="form-input col-span-2 sm:col-span-1">
                    <input type="tel" placeholder="رقم الهاتف">
                </div>
                <div class="form-input col-span-2">
                    <textarea name="message" placeholder="الرسالة..." id=""></textarea>
                </div>
                <button type="submit" class="main-btn max-w-fit">إرسال الرسالة</button>
            </form>



            <div class="flex flex-col gap-10">
                <div class="flex flex-row items-center" data-aos="flip-down">
                    <div class="icon me-7 text-2xl text-white flex items-center justify-center">
                        <i class="fa-solid fa-at"></i>
                    </div>
                    <div>
                        <h3 class="main-dark text-2xl font-bold">البريد الإلكتروني</h3>
                        <p class="font-semibold text-2xl">info&#64;jara.com</p>
                    </div>
                </div>

                <div class="flex flex-row items-center" data-aos="flip-down">
                    <div class="icon me-7 text-2xl text-white flex items-center justify-center">
                        <i class="fa-solid fa-headset"></i>
                    </div>
                    <div>
                        <h3 class="main-dark text-2xl font-bold">الدعم الفني</h3>
                        <p class="font-semibold text-2xl">support&#64;jara.com</p>
                    </div>
                </div>
                <div class="flex flex-row items-center" data-aos="flip-down">
                    <div class="icon me-7 text-2xl text-white flex items-center justify-center">
                        <i class="fa-solid fa-phone-volume"></i>
                    </div>
                    <div>
                        <h3 class="main-dark text-2xl font-bold">رقم الهاتف</h3>
                        <p class="font-semibold text-2xl">0096 658 565 988</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- end contact section -->