<!-- start why jara -->
<section class="why-jara py-12">
    <div class="overflow-hidden-wrapper" data-aos="fade-left">
        <div class="top-right">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="middle-left">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-right">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
    </div>
    <div class="container relative z-10">
        <div class="sec-header" data-aos="fade-up">
            <h2>لماذا جرة</h2>
        </div>

        <div class="hint flex items-center mb-5 mt-5" data-aos="zoom-in-up">
            <div class="icon me-8">
                <img ngSrc="assets/images/award.png" alt="award icon" fill>
            </div>
            <div>
                <h3 class="text-2xl font-bold main-color mb-3">الخبرة الواسعة</h3>
                <p class="text-md lg:text-xl text-justify">لدينا فريق من ذوي الخبرة في تصميم وتطوير مواقع الويب لمختلف
                    القطاعات بما في ذلك العقارات والتشطيبات.</p>
            </div>
        </div>
        <div class="hint flex items-center mb-5" data-aos="zoom-in-up">
            <div class="icon me-8">
                <img ngSrc="assets/images/high-quality.png" alt="high quality" fill>
            </div>
            <div>
                <h3 class="text-2xl font-bold main-color mb-3">الجودة العالية</h3>
                <p class="text-md lg:text-xl text-justify">نحن نضمن جودة عالية في كل جزء من عملية تطوير الموقع، مما يضمن
                    رضاك التام.</p>
            </div>
        </div>
        <div class="hint flex items-center mb-5" data-aos="zoom-in-up">
            <div class="icon me-8">
                <img ngSrc="assets/images/lowest-price.png" alt="lowest price" fill>
            </div>
            <div>
                <h3 class="text-2xl font-bold main-color mb-3">التكلفة المنخفضة</h3>
                <p class="text-md lg:text-xl text-justify">نحن نقدم حلولًا مخصصة تتناسب مع ميزانيتك دون التنازل عن
                    الجودة ونوفر لك الكثير من التكاليف.</p>
            </div>
        </div>

        <div class="text-center">
            <div class="vision flex items-center justify-center relative" data-aos="flip-up">
                <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                <img ngSrc="assets/images/vision.png" class="vision-img" width="150" height="100" alt="">
            </div>
            <h3 class="text-2xl main-dark font-bold my-4" data-aos="flip-up">رؤيتنا وقيمنا</h3>
            <p class="text-lg lg:text-2xl lg:w-10/12 m-auto mb-6" data-aos="zoom-in-up">نحن نؤمن بأهمية الابتكار والتميز، ونسعى جاهدين لتحقيق
                رؤية تجعل علامتك التجارية تتألق على الإنترنت.</p>
            <p class="text-lg lg:text-2xl lg:w-10/12 m-auto mb-8" data-aos="zoom-in-up">استمتع بتجربة رقمية استثنائية مع جرة. اتصل بنا اليوم
                للبدء في تحويل رؤيتك الإبداعية إلى واقع رقمي
                ملموس يلبي احتياجات شركتك ويمكنك عرض كل اعمالك.</p>
            <button (click)="scrollToContact()" class="light-btn"  data-aos="zoom-in">تواصل الآن</button>
        </div>
    </div>
</section>
<!-- end why jara -->