<div class="page-error">
    <img ngSrc="assets/images/shapesolid.svg" class="top-left" width="300" height="300" alt="jara shape">
    <img ngSrc="assets/images/shapesolid.svg" class="bottom-right" width="300" height="300" alt="jara shape">

    <div class="error flex flex-col items-center justify-center">
        <img ngSrc="assets/images/error.png" class="mb-3" width="400" height="400" alt="jara error 404">
        <h3 class="text-4xl font-bold mb-3">صفحة غير موجودة</h3>
        <button class="main-btn" [routerLink]="['/']">العودة للصفحة الرئيسية</button>
    </div>
</div>