<!-- start about section -->
<section class="about py-10" id="about">
    <div class="overflow-hidden-wrapper" data-aos="fade-down">
        <div class="top-left">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-right">
            <img ngSrc="assets/images/shapesolid.svg" class="" alt="jara shape" fill>
        </div>
    </div>

    <div class="container relative z-10">
        <div class="sec-header" data-aos="fade-up">
            <h2>من نحن</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-7">
            <div>
                <p class="text-lg text-justify font-semibold mb-3" data-aos="fade-up-left">
                    جرة هي منصة تساعدك على انشاء موقع الكتروني متخصص فى مجال اعمالك ويحتوي على المميزات والإضافات التي
                    تساعدك لترتبط بعملائك بكل يسر وسهولة.
                </p>
                <h3 class="font-bold text-2xl mt-4 text-center main-color" data-aos="fade-up">جرة .. مواقع متخصصة</h3>
                <p class="text-lg text-justify font-semibold mb-3" data-aos="fade-up-left">
                    تساعدك على انشاء موقع إلكتروني متخصص فى المجالات الآتية
                </p>
                <div class="grid grid-cols-2 gap-5">
                    <div class="card text-center" data-aos="fade-up-right">
                        <div class="icon">
                            <img src="./assets/images/consIcon.png" alt="">
                        </div>
                        <h4 class="font-bold text-xl mt-2 main-dark">الاستشارات والخدمات</h4>
                    </div>
                    <div class="card text-center" data-aos="fade-up-right">
                        <div class="icon">
                            <img src="./assets/images/realIcon.png" alt="">
                        </div>
                        <h4 class="font-bold text-xl mt-2 main-dark">المواقع العقارية</h4>
                    </div>
                </div>
            </div>
            <div class="relative ">
                <img ngSrc="assets/images/jaralogo.svg" class="logo" alt="jaralogo" fill data-aos="fade-up-right">
            </div>


        </div>
    </div>

    <div class="sec-header mt-20" data-aos="fade-up" id="services">
        <h2>مميزات جرة الأساسية</h2>
    </div>

    <div class="divided">
        <div class="container flex flex-col lg:flex-row items-center justify-center p-8 gap-5">
            <img src="./assets/images/design.webp" class="max-w-fit" data-aos="fade-up">
            <div  data-aos="fade-up">
                <h3 class="text-4xl font-bold main-color mb-5">جرة .. تصميم مميز</h3>
                <p class="text-3xl text-gray-500">توفر جرة الإمكانيات والأدوات حتي تختار بنفسك ألوان وصور الموقع وذلك حتي تتمكن من إبراز علامتك التجارية</p>
            </div>
        </div>      
    </div>

    <div class="divided py-8 bg-gray-100">
        <div class="container flex flex-col-reverse lg:flex-row items-center justify-center p-8 gap-5 ">
            <div  data-aos="fade-up">
                <h3 class="text-4xl font-bold main-color mb-5">جرة .. طريقك لعلامتك التجارية</h3>
                <p class="text-3xl text-gray-500">الأدوات والمميزات التي توفرها جرة سوف تساعدك لتبني علامة تجارية خاصة بك تتمتع بمصداقية وقوة</p>
            </div>
            
            <img src="./assets/images/design.webp" class="max-w-fit" data-aos="fade-up">
        </div>      
    </div>

    <div class="divided">
        <div class="container flex flex-col lg:flex-row items-center justify-center p-8 gap-5">
            <img src="./assets/images/design.webp" class="max-w-fit" data-aos="fade-up">
            <div data-aos="fade-up">
                <h3 class="text-4xl font-bold main-color mb-5">مواقع متخصصة في مجالات متعددة</h3>
                <p class="text-3xl text-gray-500">لدى جرة مواقع متخصصة في مجالات الاستشارات والخدمات والمجال العقاري وسيتم إضافة مجالات جديدة وذلك حتى تربط الموقع مع عملائك مع وجود المميزات الخاصة بمجال عملك</p>
            </div>
        </div>      
    </div>

    <div class="divided py-8 bg-gray-100">
        <div class="container flex flex-col-reverse lg:flex-row items-center justify-center p-8 gap-5">
            <div data-aos="fade-up">
                <h3 class="text-4xl font-bold main-color mb-5">حلول مدفوعات آمنة ومتنوعة</h3>
                <p class="text-3xl text-gray-500">استفد من نظام للمدفوعات الآمن والذي يحتوي على معظم طرق الدفع وذلك لتلبية كافة احتياجات عملائك (صور علامات كل من مدى وفيزا وماستركارد و stc pay و تابي وتمارا و ابل باي )</p>
            </div>
            
            <img src="./assets/images/design.webp" class="max-w-fit" data-aos="fade-up">
        </div>      
    </div>
</section>
<!-- end about section -->