<!-- start top services -->
<section class="top-services py-20 md:py-12">
    <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-right">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-left">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
    </div>
    <div class="sec-header" data-aos="fade-up">
        <h2>مميزات جرة</h2>
    </div>
    <div class="container">
        <div  class="grid grid-cols-1 lg:grid-cols-3 relative z-10">
            <!-- <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/online-payment.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">حلول مدفوعات آمنة ومتنوعة </h4>
                <p>استفد من نظام للمدفوعات الآمن والذي يحتوي على معظم طرق الدفع وذلك لتلبية كافة احتياجات عملائك (صور
                    علامات كل من مدى وفيزا وماستركارد و stc pay و تابي وتمارا و ابل باي ).</p>
            </div> -->

            <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/subscription-model.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">باقة اشتراك موحدة تحتوي على كل المميزات </h4>
                <p>في جرة الاشتراك موحد بسعر واحد ويشمل الاشتراك جميع المميزات التي تحتاجها وستتمكن من الحصول على أي
                    مميزات جديدة بدون أي رسوم.</p>
            </div>

            <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/easy-access.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">تنشى موقعك بكل سهولة ويسر</h4>
                <p>عملية انشاء الموقع والتفعيل تتم بكل يسر وسهولة حتى تحصل على موقع يساعدك للربط مع عملائك.</p>
            </div>
            
            <!-- <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/web-design.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">مواقع متخصصة في مجالات متعددة</h4>
                <p>لدى جرة مواقع متخصصة في مجالات الاستشارات والخدمات والمجال العقاري وسيتم إضافة مجالات جديدة وذلك حتى
                    تربط الموقع مع عملائك مع وجود المميزات الخاصة بمجال عملك.</p>
            </div> -->
            <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/wallet.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">إمكانية الاسترجاع الكامل خلال 30 يوم</h4>
                <p>بدون أي سؤال او متطلبات خلال 30 يوم من الاشتراك يمكنك استرجاع كامل المبلغ.</p>
            </div>
            <!-- 
            <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/cms-system.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">تكامل مع نظام إدارة المحتوي CMS</h4>
                <p>نقدم حلولًا مبتكرة مبنية على أنظمة إدارة المحتوى القوية.</p>
            </div>
    
            <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/statistics.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">تحليلات واضحة</h4>
                <p> تقارير شاملة ومفصلة حول أداء موقعك على الإنترنت.</p>
            </div>
    
            <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/social-media.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">تواجد اجتماعي فعّال</h4>
                <p> بناء وتعزيز وجودك على وسائل التواصل الاجتماعي.</p>
            </div>
    
            <div class="card text-center" data-aos="flip-up">
                <div class="image flex items-center justify-center relative trans-img">
                    <img ngSrc="assets/images/shapesolid.svg" class="shape" width="200" height="200" alt="">
                    <img ngSrc="assets/images/customer-service.png" class="img" width="150" height="150" alt="">
                </div>
                <h4 class="text-lg main-dark font-bold">خدمة عملاء مميزة</h4>
                <p> يقوم فريق خدمة العملاء الخاص بجرة بمساعدتك فى اى صعوبة تواجهها.</p>
            </div> -->

        </div>
    </div>

</section>
<!-- end top services -->