
<!-- start info graph section -->
<section class="info-graph py-12">
    <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-left">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
        <div class="center-center">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-right">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
    </div>
    <div class="conatiner">
        <div class="sec-header" data-aos="fade-up">
            <h2>اهمية تصميم موقع لشركتك</h2>
        </div>
        <div class="info mt-8 w-11/12 lg:w-7/12 m-auto grid md:grid-cols-2 gap-8">
            <div class="step step1 relative min-h-52" data-aos="flip-right">
                <div class="p-10 md:pe-24 flex flex-col items-center justify-center">
                    <img ngSrc="assets/images/aboutico.png" class="my-3" width="120" height="120" alt="About icon gradiant">
                    <p class="font-bold text-xl xl:text-2xl text-center">
                        سيرة ذاتية جيدة للشركة للوصول لعملاء جدد</p>
                </div>
                <div class="number number1">1</div>
            </div>
            <div class="step step4 relative min-h-52" data-aos="flip-left">
                <div class="p-10 md:ps-24 flex flex-col items-center justify-center">
                    <img ngSrc="assets/images/estate-planning.png" class="my-3" width="120" height="120" alt="real estate planing icon">
                    <p class="font-bold text-xl xl:text-2xl text-center">
                        عرض مشاريع اكثر
                        للشركة لجذب العملاء</p>
                </div>
                <div class="number number4">4</div>
            </div>
            <div class="step step2 relative min-h-52" data-aos="flip-right">
                <div class="p-10 md:pe-24 flex flex-col-reverse md:flex-col items-center justify-center">
                    <p class="font-bold text-xl xl:text-2xl text-center">
                        عرض كافة الخدمات
                        التي تقدمها الشركة</p>
                    <img ngSrc="assets/images/company.png" class="my-3" width="120" height="120" alt="company icon gradiant">
                </div>
                <div class="number number2">2</div>
            </div>
            <div class="step step3 relative min-h-52" data-aos="flip-left">
                <div class="p-10 md:ps-24 flex flex-col-reverse md:flex-col items-center justify-center">
                    <p class="font-bold text-xl xl:text-2xl text-center">
                        التسويق للخدمات
                        التي تقدمها الشركة</p>
                    <img ngSrc="assets/images/social-mediaico.png" class="my-3" width="120" height="120" alt="social media gradiant icon">
                </div>
                <div class="number number3">3</div>
            </div>

        </div>

    </div>
</section>
<!-- end info graph section -->