<app-navbar></app-navbar>

<!-- start head section -->
<section class="head">
    <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-left" data-aos="fade-up">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-right" data-aos="fade-up">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
    </div>

    <div class="container">
        <div class="home flex flex-col items-center relative">
            <img ngSrc="assets/images/jaralogo.svg" class="mt-20" width="80" height="100" alt="jara logo شعار جرة">
            <h1 class="w-10/12 lg:w-6/12 text-2xl lg:text-4xl xl:text-5xl font-bold text-center mt-5 main-dark">
                الشروط والأحكام
            </h1>
            <p class="text-center w-10/12 lg:w-4/12 font-semibold mt-5">
                تحتوي منصة جرة على العديد من الشروط والأحكام الخاصة يمكنك الإطلاع عليها الآن
            </p>
        </div>
        <div class="trans-img-wrapper lg:w-8/12 m-auto mt-12 lg:mt-8 trans-img to-top" id="trans-img">
            <img src="./assets/images/terms.svg" alt="سياسات جرة" fill>
        </div>
    </div>
</section>

<!-- end head section and nav -->
<!-- start policies section -->
<section class="policies py-10">
    <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-left" data-aos="fade-up">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-right" data-aos="fade-up">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
    </div>
    <div class="sec-header mb-3">
        <h2>القوانين والسياسات</h2>
    </div>

    <div class="container relative z-10">
        <!-- النصوص الخاصة بالسياسات والشروط -->
        <div class="policy-text">
            
            <h2 class="main-dark font-bold text-2xl mb-2 pt-2">الشروط والأحكام</h2>
            <p class="text-lg text-justify font-semibold mb-2">باستخدام موقعنا وخدماتنا، فإنك توافق على الشروط والأحكام التالية. يرجى قراءة هذه الشروط بعناية قبل استخدام خدماتنا.</p>
            <h2 class="main-color text-lg font-bold mb-2">الاستخدام المقبول</h2>
            <p class="text-lg text-justify font-semibold mb-2">الامتثال للقوانين: يجب عليك الامتثال لجميع القوانين واللوائح المعمول بها.</p>
            <p class="text-lg text-justify font-semibold mb-2">الاستخدام الصحيح: يمنع استخدام خدماتنا لأي غرض غير قانوني أو غير مصرح به.</p>
            <h2 class="main-color text-lg font-bold mb-2">حقوق الملكية الفكرية</h2>
            <p class="text-lg text-justify font-semibold mb-2">المحتوى: جميع المحتويات والمعلومات المتاحة على موقعنا محمية بموجب حقوق النشر.</p>
            <p class="text-lg text-justify font-semibold mb-2">الترخيص: نمنحك ترخيصًا محدودًا غير حصري للوصول إلى واستخدام خدماتنا.</p>
            <h2 class="main-color text-lg font-bold mb-2">حدود المسؤولية</h2>
            <p class="text-lg text-justify font-semibold mb-2">الخدمات: نحن لسنا مسؤولين عن أي أضرار قد تنجم عن استخدام خدماتنا.</p>
            <p class="text-lg text-justify font-semibold mb-2">الضمانات: خدماتنا مقدمة "كما هي" دون أي ضمانات من أي نوع.</p>
       </div>
    </div>
</section>
<!-- end policies section -->

<app-footer></app-footer>
