<!-- start faq section -->
<section class="faq pt-24 pb-12" id="faq">
    <div class="container">
        <div class="sec-header" data-aos="fade-up">
            <h2>الأسئلة الشائعة</h2>
        </div>


        <div class="w-full md:w-4/5 mx-auto">

            <div class="bg-white rounded-2xl shadow my-5 overflow-hidden" data-aos="zoom-in">
                <div class="question p-5 font-semibold flex justify-between items-center cursor-pointer">
                    هل توفر "جرة" دومين مجاني؟
                    <span class="text-lg transition-transform duration-200"><i
                            class="fa-solid fa-chevron-left"></i></span>
                </div>
                <div class="answercont overflow-hidden transition-max-height duration-300">
                    <div class="answer p-5">
                        <p>لا لم تقم جرة بتوفير الدومين المجاني ولكن يمكنك توفير دومين مميز عن طريق شرائه من المنصات
                            المقدمة لهذه الخدمة ويمكنك ربطه
                            بموقعك.</p>

                    </div>
                </div>
            </div>

            <div class="bg-white rounded-2xl shadow my-5 overflow-hidden" data-aos="zoom-in">
                <div class="question p-5 font-semibold flex justify-between items-center cursor-pointer">
                    هل تقدم "جرة" خدمات تحسين محركات البحث (SEO)؟
                    <span class="text-lg transition-transform duration-200"><i
                            class="fa-solid fa-chevron-left"></i></span>
                </div>
                <div class="answercont overflow-hidden transition-max-height duration-300">
                    <div class="answer p-5">
                        <p>لا لم تقم جرة بتوفير الدومين المجاني ولكن يمكنك توفير دومين مميز عن طريق شرائه من المنصات
                            المقدمة لهذه الخدمة ويمكنك ربطه
                            بموقعك.</p>

                    </div>
                </div>
            </div>

            <div class="bg-white rounded-2xl shadow my-5 overflow-hidden" data-aos="zoom-in">
                <div class="question p-5 font-semibold flex justify-between items-center cursor-pointer">
                    هل يمكنني الاعتماد على الدعم فني بعد إطلاق موقعي؟
                    <span class="text-lg transition-transform duration-200"><i
                            class="fa-solid fa-chevron-left"></i></span>
                </div>
                <div class="answercont overflow-hidden transition-max-height duration-300">
                    <div class="answer p-5">
                        <p>لا لم تقم جرة بتوفير الدومين المجاني ولكن يمكنك توفير دومين مميز عن طريق شرائه من المنصات
                            المقدمة لهذه الخدمة ويمكنك ربطه
                            بموقعك.</p>

                    </div>
                </div>
            </div>

            <div class="bg-white rounded-2xl shadow my-5 overflow-hidden" data-aos="zoom-in">
                <div class="question p-5 font-semibold flex justify-between items-center cursor-pointer">
                    هل الخدمة مجانية مدي الحياة؟
                    <span class="text-lg transition-transform duration-200"><i
                            class="fa-solid fa-chevron-left"></i></span>
                </div>
                <div class="answercont overflow-hidden transition-max-height duration-300">
                    <div class="answer p-5">
                        <p>لا لم تقم جرة بتوفير الدومين المجاني ولكن يمكنك توفير دومين مميز عن طريق شرائه من المنصات
                            المقدمة لهذه الخدمة ويمكنك ربطه
                            بموقعك.</p>

                    </div>
                </div>
            </div>

            <div class="bg-white rounded-2xl shadow my-5 overflow-hidden" data-aos="zoom-in">
                <div class="question p-5 font-semibold flex justify-between items-center cursor-pointer">
                    هل تقدم "جرة" الخدمة لمطوري العقارات فقط؟
                    <span class="text-lg transition-transform duration-200"><i
                            class="fa-solid fa-chevron-left"></i></span>
                </div>
                <div class="answercont overflow-hidden transition-max-height duration-300">
                    <div class="answer p-5">
                        <p>لا لم تقم جرة بتوفير الدومين المجاني ولكن يمكنك توفير دومين مميز عن طريق شرائه من المنصات
                            المقدمة لهذه الخدمة ويمكنك ربطه
                            بموقعك.</p>

                    </div>
                </div>
            </div>

            <div class="bg-white rounded-2xl shadow my-5 overflow-hidden" data-aos="zoom-in">
                <div class="question p-5 font-semibold flex justify-between items-center cursor-pointer">
                    كيف يمكنني التواصل مع "جرة" للحصول على خدماتها؟
                    <span class="text-lg transition-transform duration-200"><i
                            class="fa-solid fa-chevron-left"></i></span>
                </div>
                <div class="answercont overflow-hidden transition-max-height duration-300">
                    <div class="answer p-5">
                        <p>لا لم تقم جرة بتوفير الدومين المجاني ولكن يمكنك توفير دومين مميز عن طريق شرائه من المنصات
                            المقدمة لهذه الخدمة ويمكنك ربطه
                            بموقعك.</p>

                    </div>
                </div>
            </div>

        </div>



    </div>
</section>
<!-- end faq section -->