<app-navbar></app-navbar>

<!-- start head section -->
<section class="head">
    <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-left" data-aos="fade-up">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-right" data-aos="fade-up">
            <img ngSrc="assets/images/shapelight.svg" alt="jara shape" fill>
        </div>
    </div>

    <div class="container">
        <div class="home flex flex-col items-center relative">
            <img ngSrc="assets/images/jaralogo.svg" class="mt-20" width="80" height="100" alt="jara logo شعار جرة">
            <h1 class="w-10/12 lg:w-6/12 text-2xl lg:text-4xl xl:text-5xl font-bold text-center mt-5 main-dark">
                الشروط والأحكام
            </h1>
            <p class="text-center w-10/12 lg:w-4/12 font-semibold mt-5">
                تحتوي منصة جرة على العديد من سياسات الإستبدال والاسترجاع يمكنك الإطلاع عليها الآن
            </p>
        </div>
        <div class="trans-img-wrapper lg:w-8/12 m-auto mt-12 lg:mt-8 trans-img to-top" id="trans-img">
            <img src="./assets/images/terms.svg" alt="سياسات جرة" fill>
        </div>
    </div>
</section>

<!-- end head section and nav -->
<!-- start policies section -->
<section class="policies py-10">
    <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-left" data-aos="fade-up">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-right" data-aos="fade-up">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
    </div>
    <div class="sec-header mb-3">
        <h2>القوانين والسياسات</h2>
    </div>

    <div class="container relative z-10">
        <!-- النصوص الخاصة بالسياسات والشروط -->
        <div class="policy-text">
            
            <h2 class="main-dark font-bold text-2xl mb-2 pt-2">سياسة الاسترجاع</h2>
            <h2 class="main-color text-lg font-bold mb-2">إلغاء الخدمة واسترداد الأموال</h2>
            <p class="text-lg text-justify font-semibold mb-2">إلغاء الخدمة: يمكنك إلغاء الخدمة في أي وقت عبر التواصل معنا.</p>
            <h2 class="main-color text-lg font-bold mb-2">استرداد الأموال: سيتم استرداد الأموال وفقًا للظروف التالية:</h2>
            <p class="text-lg text-justify font-semibold mb-2">قبل بدء العمل: استرداد كامل للمبلغ المدفوع.</p>
            <p class="text-lg text-justify font-semibold mb-2">بعد بدء العمل: استرداد جزئي يعتمد على المرحلة التي وصلنا إليها في تقديم الخدمة.</p>

            <h2 class="main-color text-lg font-bold mb-2">كيفية تقديم طلب استرجاع</h2>
            <p class="text-lg text-justify font-semibold mb-2">التواصل معنا: إرسال بريد إلكتروني أو ملء النموذج المتاح على موقعنا لطلب الاسترجاع.</p>
            <p class="text-lg text-justify font-semibold mb-2">المراجعة والمعالجة: سيتم مراجعة طلبك والرد عليك خلال 7 أيام عمل.</p>

            <h2 class="main-color text-lg font-bold mb-2">الاتصال بنا</h2>
            <p class="text-lg text-justify font-semibold mb-2">إذا كان لديك أي أسئلة أو استفسارات بشأن سياساتنا، يرجى التواصل معنا عبر البريد الإلكتروني أو رقم الهاتف المتاح على موقعنا.</p>
            <p class="text-xl text-justify font-semibold mb-2">هذه السياسات والشروط قابلة للتحديث من وقت لآخر، وسيتم نشر أي تغييرات على هذه الصفحة. نوصي بمراجعة هذه الصفحة بانتظام لضمان معرفتك بأي تحديثات.</p>
        </div>
    </div>
</section>
<!-- end policies section -->

<app-footer></app-footer>
