
<!-- start pricing section -->
<section class="pricing py-12">
     <div class="overflow-hidden-wrapper" data-aos="fade-up">
        <div class="top-right">
            <img ngSrc="assets/images/shapesolid.svg" alt="jara shape" fill>
        </div>
        <div class="bottom-left">
            <img ngSrc="assets/images/shapesolid.svg" class="" alt="jara shape" fill>
        </div>
    </div>

    <div class="container relative z-10">
        <div class="sec-header" data-aos="fade-up">
            <h2>الأسعار</h2>
        </div>

        <div class="plan-card lg:w-9/12 m-auto grid md:grid-cols-3 mt-8">
            <div class="info md:col-span-2 p-8">
                <div class="plan-head">
                    <h3 data-aos="zoom-out">بيزنس</h3>
                </div>
                <p class="text-gray-500 text-lg text-justify mt-20" data-aos="zoom-out">هي باقة تجدد سنويا تتيح لك انشاء موقع خاص بشركتك
                    وتقدم لك خدمات جرة بالكامل بجميع مميزاتها.</p>
                <div class="header-plan my-6" data-aos="fade-up">
                    <span class="text-xl font-bold main-color">تحتوي على</span>
                    <div class="line bg-gray-500"></div>
                </div>
                <ul class="grid lg:grid-cols-2 gap-5">
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>نظام CMS كامل لموقعك</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>امكانية اضافة المشاريع وصورها</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>إضافة خدمات الشركة</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>إضافة العقارات المتاحة لديكم</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>إضافة الأقسام الخاصة بالشركة</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>إضافة المشاريع الخاصة بالشركة</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>استلام رسائل العملاء</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>حجز الزيارات المكتبية والمعاينات</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>إضافة آراء عملائك لموقعك</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>امكانية التغيير فى تصميم الموقع</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>دعم فني</p>
                    </li>
                    <li class="font-bold text-md lg:text-lg flex items-center" data-aos="zoom-in"><i
                            class="fa-solid fa-circle-check main-dark me-2"></i>
                        <p>تركيب دومين خاص بموقعك</p>
                    </li>
                </ul>
            </div>
            <div class="price md:col-span-1 p-8 flex flex-col items-center justify-center">
                <div class="price-inner text-center" data-aos="zoom-in">
                    <h3 class="main-color text-3xl font-bold mb-5">تجدد سنوياً</h3>
                    <p class="flex items-center justify-center mb-5"><span
                            class="text-4xl lg:text-6xl font-bold me-3 main-dark">1000</span><span
                            class="text-md lg:text-lg font-bold text-gray-500">ريال سعودي</span></p>
                    <a href="" class="underline font-semibold text-sm lg:text-md">احتاج الى التواصل والمساعدة</a>
                    <button class="main-btn w-full mt-5">اشترك الآن</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end pricing section☻ -->
